.category {
	h3 {
		font-size: $double-gap;
		letter-spacing: 1px;
		text-align: center;
		margin-top: $double-gap + 0.5rem;
	}
	& > p {
		margin-top: $gap;
		letter-spacing: 0.5px;
		text-align: center;
		text-transform: capitalize;
	}
	&-btn {
		display: flex;
		justify-content: center;
		margin-top: $double-gap;
		padding: 0 $half-gap $gap $half-gap;
		.btn {
			@include button($gap, 2.8rem, #212a2f, #495155);
			margin-right: $gap + 0.5rem;
		}
		.btn-women {
			@include button($gap, 1.8rem, #212a2f, #495155);
		}
	}
	&-slider {
		margin-top: 7.5rem;
		h2 {
			font-size: $double-gap;
			margin-left: $half-gap;
		}
		.slider {
			display: flex;
			column-gap: $gap + 0.5rem;
			margin-top: $gap + 0.5rem;
			padding-left: $gap;
			padding-right: $gap;
			&-item {
				.img {
					position: relative;
					&:hover .overlay {
						opacity: 1;
					}
				}
				.overlay {
					transition: $transition;
					position: absolute;
					top: 45%;
					left: 25%;
					opacity: 0;
					.btn {
						@include button($gap, 2.8rem, #212a2f, #495155);
					}
				}
				p {
					margin-top: $gap;
					text-transform: capitalize;
					font-size: $gap + 0.5rem;
				}
			}
			.owl-dots {
				display: none;
			}
		}
	}
}

@media (max-width: 800px) {
	.arrivals {
		&-slider {
			.slider {
				&-item {
					.overlay {
						display: none;
					}
				}
			}
		}
	}
}