.favorites {
	h2 {
		font-size: $double-gap;
		text-transform: capitalize;
		letter-spacing: 1px;
		text-align: center;
		margin-top: $gap * 7.5;
	}
	&-menu {
		&__nav {
			margin-top: $double-gap;
			display: flex;
			justify-content: center;
			.nav-item {
				text-transform: uppercase;
				margin-left: $double-gap + 0.125rem;
				margin-right: $double-gap + 0.125rem;
				letter-spacing: 2px;
				padding: 0 $double-gap;
				cursor: pointer;
			}
			.nav-item.active {
				border-bottom: 2px solid #000;
			}
		}
	}
	&-card {
		display: flex;
		overflow: hidden;
		&__shoes {
			display: flex;
			transition: .8s ease;
			column-gap: $gap + 0.5rem;
			transform: translateX(-1300px);
		}
		&__shoes.active {
			transform: translateX(0);
		}
		&__apparel {
			transform: translateX(-3238px);
			display: flex;
			column-gap: $gap + 0.5rem;
			transition: .8s ease;
		}
		&__apparel.active {
			transform: translateX(-1238px);
		}
		&__basics {
			transform: translateX(-4300px);
			display: flex;
			column-gap: $gap + 0.5rem;
			transition: .8s ease;
		}
		&__basics.active {
			transform: translateX(-2471px);
		}
		&__item {
			.img {
				margin-top: $double-gap;
				position: relative;
				&:hover .overlay{
					opacity: 1;
					overflow: visible;
					transform: scaleX(1);
					button {
						cursor: pointer;
					}
				}
			}
			.overlay {
				transition: $transition;
				transform: scaleX(0);
				position: absolute;
				top: 35%;
				left: 15%;
				opacity: 0;
				overflow: hidden;
				cursor: default;
				.btn {
					@include button($gap, 5.8rem, #fff, #ddd, #000);
					margin-bottom: 0.75rem;
				}
				.btn-women {
					@include button($gap, 4.8rem, #fff, #ddd, #000);
				}
			}
		}
		&__description {
			width: 21rem;
			margin: $gap auto;
			h3 {
				font-size: $gap + 0.5rem;
				text-transform: capitalize;
				margin-bottom: $gap;
			}
			.description {
				display: flex;
				align-items: center;
				margin-top: $gap;
				p {
					margin-left: 0.75rem;
					text-transform: capitalize;
				}
			}
		}
	}
}


@media (max-width: 1250px) {
	.favorites {
		&-card {
			display: flex;
			justify-content: center;
			overflow: hidden;
			&__shoes {
				display: flex;
				transition: .8s ease;
				column-gap: $gap + 0.5rem;
				transform: translateX(-100px);
			}
			&__shoes.active {
				transform: translateX(1069px);
			}
			&__apparel {
				transform: translateX(-1250px);
				display: flex;
				column-gap: $gap + 0.5rem;
				transition: .8s ease;
			}
			&__apparel.active {
				transform: translateX(0);
			}
			&__basics {
				transform: translateX(-2269px);
				display: flex;
				column-gap: $gap + 0.5rem;
				transition: .8s ease;
			}
			&__basics.active {
				transform: translateX(-1069px);
			}
			&__item {
				.img {
					img {
						width: 340px;
					}
					.overlay {
						opacity: 1;
						overflow: visible;
						transform: scaleX(1);
						left: 8%;
						top: 60%;
						.btn {
							@include button($gap, 5.8rem, rgba(255,255,255,.7), #ddd, #000);
							margin-bottom: 0.75rem;
						}
						.btn-women {
							@include button($gap, 4.8rem, rgba(255,255,255,.7), #ddd, #000);
						}
					}
				}
			}
		}
	}
	@media (max-width: 1080px) {
		.favorites {
			&-card {
				display: flex;
				justify-content: center;
				overflow: hidden;
				&__shoes {
					display: flex;
					transition: .8s ease;
					column-gap: $gap + 0.5rem;
					transform: translateX(-100px);
				}
				&__shoes.active {
					transform: translateX(949px);
				}
				&__apparel {
					transform: translateX(-1250px);
					display: flex;
					column-gap: $gap + 0.5rem;
					transition: .8s ease;
				}
				&__apparel.active {
					transform: translateX(0);
				}
				&__basics {
					transform: translateX(-2269px);
					display: flex;
					column-gap: $gap + 0.5rem;
					transition: .8s ease;
				}
				&__basics.active {
					transform: translateX(-949px);
				}
				&__item {
					.img {
						img {
							width: 300px;
						}
						.overlay {
							opacity: 1;
							overflow: visible;
							transform: scaleX(1);
							left: 13%;
							top: 60%;
							.btn {
								@include button($gap, 3.8rem, rgba(255,255,255,.7), #ddd, #000);
								margin-bottom: 0.75rem;
							}
							.btn-women {
								@include button($gap, 2.8rem, rgba(255,255,255,.7), #ddd, #000);
							}
						}
					}
				}
				&__description {
					width: 15rem;
					margin: 0;
				}
			}
		}
		@media (max-width: 964px) {
			.favorites {
				&-card {
					display: flex;
					justify-content: center;
					overflow: hidden;
					&__shoes {
						display: flex;
						flex-direction: column;
						transition: .8s ease;
						column-gap: $gap + 0.5rem;
						transform: translateX(-400px);
					}
					&__shoes.active {
						transform: translateX(500px);
					}
					&__apparel {
						transform: translateX(-1250px);
						display: flex;
						flex-direction: column;
						column-gap: $gap + 0.5rem;
						transition: .8s ease;
					}
					&__apparel.active {
						transform: translateX(0);
					}
					&__basics {
						transform: translateX(-2269px);
						display: flex;
						flex-direction: column;
						column-gap: $gap + 0.5rem;
						transition: .8s ease;
					}
					&__basics.active {
						transform: translateX(-500px);
					}
					&__item {
						.img {
							img {
								width: 500px;
							}
							.overlay {
								opacity: 1;
								overflow: visible;
								transform: scaleX(1);
								left: 16%;
								top: 70%;
								.btn {
									@include button($gap, 7.8rem, rgba(255,255,255,.7), #ddd, #000);
									margin-bottom: 0.75rem;
								}
								.btn-women {
									@include button($gap, 6.8rem, rgba(255,255,255,.7), #ddd, #000);
								}
							}
						}
					}
					&__description {
						margin:  1rem auto 10rem;
						width: 28rem;

					}
					&__apparel {
						flex-direction: column;
					}
					&__basics {
						flex-direction: column;
					}
				}
			}
			@media (max-width: 505px) {
				.favorites {
					&-menu {
						&__nav {
							.nav-item {
								margin-left: $half-gap;
								margin-right: $half-gap;
								padding: 0 $half-gap;
							}
						}
					}
					&-card {
						display: flex;
						justify-content: center;
						overflow: hidden;
						&__shoes {
							display: flex;
							flex-direction: column;
							transition: .8s ease;
							column-gap: $gap + 0.5rem;
							transform: translateX(-400px);
						}
						&__shoes.active {
							transform: translateX(340px);
						}
						&__apparel {
							transform: translateX(-1250px);
							display: flex;
							flex-direction: column;
							column-gap: $gap + 0.5rem;
							transition: .8s ease;
						}
						&__apparel.active {
							transform: translateX(0);
						}
						&__basics {
							transform: translateX(-2269px);
							display: flex;
							flex-direction: column;
							column-gap: $gap + 0.5rem;
							transition: .8s ease;
						}
						&__basics.active {
							transform: translateX(-340px);
						}
						&__item {
							.img {
								img {
									width: 340px;
								}
								.overlay {
									opacity: 1;
									overflow: visible;
									transform: scaleX(1);
									left: 8%;
									top: 60%;
									.btn {
										@include button($gap, 5.8rem, rgba(255,255,255,.7), #ddd, #000);
										margin-bottom: 0.75rem;
									}
									.btn-women {
										@include button($gap, 4.8rem, rgba(255,255,255,.7), #ddd, #000);
									}
								}
							}
						}
						&__description {
							margin:  1rem auto 1rem;
							width: 15rem;
						}
					}
				}
			}
		}
	}
}
