.footer {
	background: #212A2F;
	color: $white;
	margin-top: 8.3rem;
	padding: 3.3rem $gap * 5;
	&-input {
		p {
			font-size: .85rem;
			margin-bottom: $gap;
		}
		form {
			input {
				background: #4D5559;
				border: none;
				height: $gap + $double-gap;
				width: 18rem;
				color: #FFFFFF;
				outline: none;
			}
			.btn {
				@include button(.95rem, 1.8rem, #4D5559, #313739);
			}
		}
	}
	&-information {
		display: flex;
		flex-wrap: wrap;
		column-gap: $gap * 15;
		margin-top: $gap * 5;
		h4 {
			font-size: $gap;
		}
		ul {
			margin-bottom: $double-gap * 2;
			li {
				margin-top: $gap;
				font-size: .75rem;
			}
		}

	}
	&-certified {
		display: flex;
		flex-wrap: wrap;
		column-gap: $gap * 10;
		margin-top: $gap * 5;
		&__item > p {
			max-width: $gap * 18;
			font-size: .75rem;
			line-height: $gap + 0.2rem;
			margin-bottom: .5rem;
		}
		&__icon {
			a {
				color: #FFFFFF;
				text-decoration: none;
				font-size: $gap + 0.5rem;
				margin-right: .5rem;
			}
		}
		&__item  {
			h4 {
				margin-bottom: $gap;
			}
			img {
				padding-right: $gap + 0.5rem;
				margin-bottom: $gap;
			}
		}
	}
	&-copyright {
		display: flex;
		justify-content: center;
		margin-top: $gap * 5;
		p {
			font-size: .75rem;
		}
	}
}


@media (max-width: 1450px) {
	.footer {
		&-certified {
			display: flex;
			justify-content: center;
			&__item {
				.certified {

				}
			}
			&__item {
				margin-bottom: $double-gap * 2;
			}
		}
	}
}
@media (max-width: 770px) {
	.footer {
		&-certified {
			align-items: center;
			display: flex;
			justify-content: center;
			column-gap: $double-gap * 2;
			&__item > p {
				max-width: $gap * 10;

			}
			&__item.country {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				margin-bottom: $double-gap * 2;
			}
		}
		&-copyright {
			p {
				text-align: center;
			}
		}
	}
	@media (max-width: 590px) {
		.footer {
			&-input {
				p {
					display: flex;
					justify-content: center;
				}
				form {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					input {
						margin-bottom: $gap;
					}
				}
			}
		}
	}
}