.stories {
	h3 {
		font-size: $double-gap;
		margin-top: $double-gap + 0.8rem;
		margin-bottom: $gap + 0.2rem;
		text-align: center;
	}
	& > p {
		margin: 0 auto;
		text-align: center;
		max-width: 41.5rem;
		line-height: $gap + 0.4rem;
	}
	&-btn {
		display: flex;
		justify-content: center;
		margin-top: $gap + 0.6rem;
		padding: 0 $half-gap $gap $half-gap;
		.btn {
			@include button($gap, 2.8rem, #212a2f, #495155);
		}
	}
	h2 {
		margin-top: $gap * 7.5;
		font-size: $double-gap;
	}
	&-card {
		display: flex;
		column-gap: $gap + 0.5rem;
		margin-top: $gap + .5rem;
		&__item {
			h5 {
				font-size: $gap + 0.4rem;
				margin-top: $gap;
			}
			p {
				max-width: $gap * 21;
				margin-top: .8rem;
				line-height: $gap + 0.4rem;
			}
		}
	}
}

@media (max-width: 1250px) {
	.stories {
		h2 {
			display: flex;
			justify-content: center;
			margin-bottom: $gap;
			border-bottom: solid 1px #000;
		}
		&-card {
			display: flex;
			justify-content: center;
			margin: 0 auto;
			&__item {
				img {
					width: 340px;
				}
			}
		}
	}
	@media (max-width: 1080px) {
		.stories {
			&-card {
				display: flex;
				justify-content: center;
				margin: 0 auto;
				&__item {
					img {
						width: 300px;
					}
					p {
						max-width: $gap * 18;
					}
				}
			}
		}
		@media (max-width: 964px) {
			.stories {
				&-card {
					display: flex;
					flex-direction: column;
					&__item {
						margin: 0 auto;
						img {
							width: 500px;
						}
						h5 {
							text-align: center;
							padding-bottom: $gap;
						}
						p {
							margin: 0 auto $gap * 8;
							text-align: center;
						}
					}
				}
			}
			@media (max-width: 505px) {
				.stories {
					&-card {
						&__item {
							img {
								width: 340px;
							}
						}
					}
				}
			}
		}
	}
}